# DuckDNS
DUCKDNS_DOMAIN=""   # Your subdomain (e.g., "mymusic" -> mymusic.duckdns.org)
DUCKDNS_TOKEN=""

# /upload Basic Auth
UPLOAD_BASIC_AUTH_ENABLE="true"
UPLOAD_USER="admin"
# Leave empty; installer will prompt and create bcrypt if missing
UPLOAD_HASH=""
